[submodule "dwm-flexipatch"]
	path = dwm-flexipatch
	url = https://github.com/bakkeby/dwm-flexipatch.git
[submodule "flexipatch-finalizer"]
	path = flexipatch-finalizer
	url = https://github.com/bakkeby/flexipatch-finalizer.git
[submodule "dmenu-flexipatch"]
	path = dmenu-flexipatch
	url = git@github.com:bakkeby/dmenu-flexipatch.git
[submodule "slock-flexipatch"]
	path = slock-flexipatch
	url = git@github.com:bakkeby/slock-flexipatch.git
[submodule "dwmblocks"]
	path = dwmblocks
	url = https://github.com/torrinfail/dwmblocks.git
[submodule "st-flexipatch"]
	path = st-flexipatch
	url = git@github.com:bakkeby/st-flexipatch.git
